[submodule "clspv"]
    path = external/clspv
	url = https://github.com/google/clspv.git
[submodule "opencl-headers"]
    path = external/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "spirv-headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "spirv-tools"]
	path = external/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "vulkan-headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "talvos"]
	path = external/talvos
	url = https://github.com/talvos/talvos.git
